*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


header{
    margin: 0;
    height: 100vh;
    background: linear-gradient(100deg, white 50%, black 50%);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-family: sans-serif;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease-out;
    margin-right: 30px;
    cursor: pointer;
}

nav a:hover{
    color: #FFD700;
    border-bottom: 2px solid white;
    transform: translateY(-3px);
}

nav img{
    width: 60px;
    object-fit: cover;
    margin-right: 200px;
    padding-top: 10px;
}
.nav-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
}
nav button{
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    background-color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease-out;
}
nav button:hover{
    background-color: #000000;
    color: white;
    border: 2px solid white;
    transform: translateY(-3px);
}
/* === TELA INICIALLLLL === */
.Tela-Inicial{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 250px;
}
.esquerda {
    color: black;
    gap: 200px;
}

.esquerda a{
    text-decoration: none;
    color: cadetblue;
}
h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.front p{
    font-size: 20px;
    margin-bottom: 30px;
    color: blue;
}

.direita img{
    width: 510px;
    height: auto;
    object-fit: cover;
    margin-top: 200px;
}
.Midias{
    padding-top: 200px;
}
.Midias img{
    background-image: none;
    width: 70px;
    height: auto;
}


/*SECTIONs*/


/* === PARTE DE BAIXO DA TELA INICAL === */
.separacao{
    width: 100%;
    height: 213px;
    background-color: #1D1D1D;
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    position: relative; 
    overflow: hidden; 
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 );
    color: white;
}
.separacao img{
    width: 400px;
    object-fit: cover;
    position: absolute;
}

.esquerda-meio{
width: 1148px;
margin-right: 600px;
padding-top: 20px;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 30px;
}

.esquerda-meio-baixo {
    width: 120px;
    border-left: 2px solid #ffffff;
    border-right:  2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === SECTION SOBRE MIM === */

.sobre-mim-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 200px;
    gap: 100px;
}

.sobre-mim-text h3{
    font-family: 'Montserrat Alternates';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: black;
    width: 404px;
    height: 107px;
    border-left: 10px solid #080808;
    border-right:  10px solid #000000;
    border-top: 10px solid #080808;
    border-bottom:  10px solid #000000;
}

.sobre-mim-text p{
    width: 763px;
}
span{
    color: #FFD700;
    font-weight: 600;
}
.border{
    border-left: 1px solid #000000;
    border-right:  1px solid #000000;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 h4{
    font-family: 'Montserrat Alternates';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: black;
    width: 404px;
    height: 107px;
    border-left: 10px solid #080808;
    border-right:  10px solid #000000;
    border-top: 10px solid #080808;
    border-bottom:  10px solid #000000;
}
h5{
    font-family: 'Montserrat Alternates';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    padding-right: 600px;
    color: black;
}

/* === CARDSSSSSSSS === */

.Front-end{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


figure{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 250px;
}

figcaption{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    width: 200px;
}
.Front-end {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 16px;
  }

/* === FOOTER === */

.footer-pessoal {
    background-color: #000000; 
    color: #ecf0f1; 
    text-align: center;
    padding: 20px 15px;
    margin-top: 40px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9em;
}

.footer-pessoal p {
    margin: 5px 0; 
}

.footer-pessoal a {
    color: #ffffff; 
    text-decoration: none;
    margin: 0 10px; 
    transition: color 0.3s ease; 
}

.footer-pessoal a:hover {
    color: #ff000d; 
    text-decoration: underline;
}
